.counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  button {
    border: 0;
    outline: 0;
    border: 1px solid #f0f0f0;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    width: 150px;
    background-color: aquamarine;
    cursor: pointer;
  }
}
