.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.listContainer {
  list-style: none;
  display: flex;
}

.item {
  border: 1px solid aquamarine;
  padding: 10px;
  box-shadow: 4px 4px 10px #00000046;
  font-size: 23px;
}
